* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: #414141;
}

.full-cont {
  display: flex;
  justify-content: center;
  background-color: #80808024;
}

.cont {
  width: 25em;
  background-color: white;
  margin: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}

#add-task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.input-task {
  font-style: italic;
  height: 30px;
  border: none;
  width: 100%;
  outline: none;
}

#add-btn {
  border: none;
  background-color: white;
  color: #6c6c6c;
}

.clear-all {
  height: 30px;
  background-color: #f0f0f094;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c6c6c;
  padding: 5%;
  width: -webkit-fill-available;
  border: 1px solid #f0f0f000;
}

#list {
  padding: 0;
  margin: 0;
}

.a-list {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  padding: 0 12px;
}

li {
  display: flex;
  border-bottom: grey solid 0.5px;
  width: -webkit-fill-available;
  align-items: center;
  padding-left: 10px;
  height: 3em;
}

hr {
  margin: 0;
}

.list-input {
  outline: none;
  border: none;
}

.delete-btn {
  border: none;
  background-color: white;
  color: #6c6c6c;
}
